* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2fr 10fr 30px;
  position: relative;
}
/* header  */

.header {
  background-color: #111827;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#addbook {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
#addbook > p {
  color: white;
  font-size: 30px;
  font-weight: 800;
}
.header > p {
  color: white;
  font-size: 40px;
  font-weight: 800;
}
/* main part  */

#main {
  display: flex;
  padding: 20px;
  gap: 15px;
  flex-wrap: wrap;
}
/* book divs  */

.bookdiv {
  background-color: white;
  height: 210px;
  width: 150px;
  border: #111827, 1px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(15, 23, 42, 0.4);
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  gap: 10px;
  text-align: center;
  justify-content: center;
}
.bookdiv p:nth-child(1) {
  font-size: 20px;
  background-color: #111827;
  color: white;
  height: 50px;
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 5px;
}
.bookdiv p:nth-child(2),
.bookdiv p:nth-child(3) {
  height: 25px;
  align-self: center;
  justify-self: center;
  width: 80%;
  font-weight: 600;
  border: solid;
  border-width: thin;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardbuttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.cardbuttons div:nth-child(1) {
  width: 60px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 13px;
}
.cardbuttons button:nth-child(2) {
  width: 60px;
  height: 35px;
  cursor: pointer;
  font-size: 13px;
}
/* form popup */

#popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
  bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  visibility: hidden;
}
#form {
  border-style: solid;
  border: #111827;
  border-style: solid;
  position: absolute;
  display: block;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 380px;
  width: 300px;
  border-radius: 10px;
}
.inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.formheader {
  background-color: #111827;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.formheader > img {
  width: 40px;
  height: 40px;
}
.formheader > p {
  color: white;
  font-size: 25px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
#closebutton {
  cursor: pointer;
}
input[type='text'],
input[type='number'] {
  height: 50px;
  width: 280px;
  border: #111827;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  padding-left: 3px;
}
::placeholder,
input[type='text'],
input[type='number'] {
  font-size: 18px;
  font-weight: 600;
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.buttons > button {
  height: 50px;
  width: 130px;
  border-radius: 5px;
  border-color: #111827;
  color: #111827;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  border-style: solid;
  cursor: pointer;
}
label {
  width: 130px;
  height: 50px;
  display: block;
  background-color: #cb4154;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border-color: #111827;
  box-sizing: border-box;
  border-style: solid;
}
input[type='checkbox'] {
  visibility: hidden;
}
.footer {
  background-color: #111827;
}
